In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("car data.xlsx")

In [4]:
df.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,Hero Passion X pro,2016,12417.55,33217,Petrol,Individual,Manual,0,11717.50
1,xcent,2017,10633.13,12905,Petrol,Dealer,Manual,0,9931.75
2,verna,2015,10881.40,62053,Diesel,Dealer,Manual,0,10180.25
3,ertiga,2016,11107.79,43897,Diesel,Dealer,Manual,0,10404.75
4,jazz,2016,10316.40,4108,Petrol,Dealer,Manual,0,9614.00

In [5]:
df.columns

Index(['Car_Name', 'Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Transmission', 'Owner', 'Selling_Price'],
      dtype='object')

In [6]:
df = df[['Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Transmission', 'Owner', 'Selling_Price']]

In [7]:
df.head()

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,2016,12417.55,33217,Petrol,Individual,Manual,0,11717.50
1,2017,10633.13,12905,Petrol,Dealer,Manual,0,9931.75
2,2015,10881.40,62053,Diesel,Dealer,Manual,0,10180.25
3,2016,11107.79,43897,Diesel,Dealer,Manual,0,10404.75
4,2016,10316.40,4108,Petrol,Dealer,Manual,0,9614.00

In [8]:
df.isnull().sum()

Year             0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
Selling_Price    0
dtype: int64

In [9]:
print("The original dataset has {} rows and {} columns".format(df.shape[0], df.shape[1]))

The original dataset has 100000 rows and 8 columns

In [10]:
df.duplicated().sum()

6935

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
print("The original dataset has {} rows and {} columns".format(df.shape[0], df.shape[1]))

The original dataset has 93065 rows and 8 columns

In [13]:
df.head()

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,2016,12417.55,33217,Petrol,Individual,Manual,0,11717.50
1,2017,10633.13,12905,Petrol,Dealer,Manual,0,9931.75
2,2015,10881.40,62053,Diesel,Dealer,Manual,0,10180.25
3,2016,11107.79,43897,Diesel,Dealer,Manual,0,10404.75
4,2016,10316.40,4108,Petrol,Dealer,Manual,0,9614.00

In [14]:
df['Fuel_Type'].value_counts()

Petrol    73643
Diesel    18789
CNG         633
Name: Fuel_Type, dtype: int64

In [15]:
df['Seller_Type'].value_counts()

Dealer        60995
Individual    32070
Name: Seller_Type, dtype: int64

In [16]:
df['Transmission'].value_counts()

Manual       80566
Automatic    12499
Name: Transmission, dtype: int64

In [17]:
df['Fuel_Type'] = df['Fuel_Type'].map({'Petrol':0,'Diesel':1,'CNG':2})
df['Seller_Type'] = df['Seller_Type'].map({'Dealer':0,'Individual':1})
df['Transmission'] = df['Transmission'].map({'Manual':0,'Automatic':1})

In [18]:
X = df.drop(columns = 'Selling_Price').values
y = df['Selling_Price'].values

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [20]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler() 
scaler.fit(X_train,y_train) 
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [21]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train_scaled, y_train)

LinearRegression()

In [22]:
from sklearn.metrics import  r2_score
y_pred = regressor.predict(X_test_scaled)
rsquared = r2_score(y_test,y_pred)
print("R2 Value: {}".format(rsquared))

R2 Value: 0.9999945867835961

In [23]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
import numpy as np
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions 
from sklearn.model_selection import cross_val_score 
for i in [1,2,3,4,5,6,7,8,9,10,20,50]: 
  knn = KNeighborsRegressor(i) 
  knn.fit(X_train_scaled,y_train) 
  print("K value  : " , i,"train_score;",knn.score(X_train_scaled,y_train), " score : ", np.mean(cross_val_score(knn, X_train_scaled, y_train, cv=10)))

K value  :  1 train_score; 1.0  score :  0.999969476372139
K value  :  2 train_score; 0.9999937589056913  score :  0.9999703466704432
K value  :  3 train_score; 0.9999892979724653  score :  0.999966946404451
K value  :  4 train_score; 0.9999848089501148  score :  0.9999625610705187
K value  :  5 train_score; 0.9999804482131526  score :  0.9999563123364178
K value  :  6 train_score; 0.9999755748455564  score :  0.9999496532966304
K value  :  7 train_score; 0.9999700920639398  score :  0.9999427126884143
K value  :  8 train_score; 0.9999643642194364  score :  0.9999345943579774
K value  :  9 train_score; 0.9999582896647865  score :  0.9999248920241083
K value  :  10 train_score; 0.9999512598372726  score :  0.9999156478147452
K value  :  20 train_score; 0.9998389763205795  score :  0.999751224996545
K value  :  50 train_score; 0.9988776409272535  score :  0.9984950929898933

In [24]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor(2)
knn.fit(X_train_scaled,y_train)
y_pred = knn.score(X_test_scaled,y_test)

In [25]:
from sklearn.metrics import  r2_score
y_pred = knn.predict(X_test_scaled)
rsquared = r2_score(y_test,y_pred)
print("R2 Value: {}".format(rsquared))

R2 Value: 0.9999757320048155

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn.tree import DecisionTreeRegressor
import numpy as np
from sklearn.metrics import r2_score
for depth in [1,2,3,4,5,6,7,8,9,10,20,40,60]:
  dt = DecisionTreeRegressor(max_depth=depth) 
  dt.fit(X_train, y_train) 
  trainAccuracy = r2_score(y_train, dt.predict(X_train)) 
  dt = DecisionTreeRegressor(max_depth=depth) 
  valAccuracy = cross_val_score(dt, X_train, y_train, cv=10, scoring = make_scorer(r2_score)) 
  print("depth :",depth, "train_R2 :",trainAccuracy, "val scaore :" ,np.mean(valAccuracy))

depth : 1 train_R2 : 0.6816698873343121 val scaore : 0.6815368231153868
depth : 2 train_R2 : 0.909626120882925 val scaore : 0.9095325326627602
depth : 3 train_R2 : 0.975469863747751 val scaore : 0.975435724759716
depth : 4 train_R2 : 0.9934296509865627 val scaore : 0.9934153783576457
depth : 5 train_R2 : 0.9982968799162573 val scaore : 0.9982880692952648
depth : 6 train_R2 : 0.999554848420827 val scaore : 0.9995482783838249
depth : 7 train_R2 : 0.9998835375013984 val scaore : 0.999878738675292
depth : 8 train_R2 : 0.9999662122389115 val scaore : 0.9999630630295483
depth : 9 train_R2 : 0.9999869773528484 val scaore : 0.9999843213360686
depth : 10 train_R2 : 0.9999924643848662 val scaore : 0.9999892757350605
depth : 20 train_R2 : 0.9999999898218589 val scaore : 0.999991832572275
depth : 40 train_R2 : 1.0 val scaore : 0.9999916292991496
depth : 60 train_R2 : 1.0 val scaore : 0.9999918785514648

In [27]:
from sklearn.metrics import accuracy_score, roc_auc_score, plot_roc_curve
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
import numpy as np
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(max_depth = 20)
dt.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=20)

In [28]:
from sklearn.metrics import  r2_score
y_pred = dt.predict(X_test)
rsquared = r2_score(y_test,y_pred)
print("R2 Value: {}".format(rsquared))

R2 Value: 0.9999924633817353

In [29]:
X.shape

(93065, 7)

In [30]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
rf = RandomForestRegressor(n_estimators= 100, max_depth = 3, max_features='sqrt')
rf.fit(X_train_scaled, y_train)
y_pred = rf.predict(X_test_scaled)

In [31]:
from sklearn.metrics import  r2_score
y_pred = rf.predict(X_test_scaled)
rsquared = r2_score(y_test,y_pred)
print("R2 Value: {}".format(rsquared))

R2 Value: 0.8676944397176263

In [32]:
import pandas as pd 
from pandas import MultiIndex, Int16Dtype
import xgboost as xgb

In [33]:
from sklearn.model_selection import cross_val_score
import numpy as np
from xgboost import XGBRegressor
for lr in [0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.2,0.5,0.7,1]:
  XGBRegressor = xgb.XGBRegressor(learning_rate = lr, n_estimators=100, verbosity = 0) 
  XGBRegressor.fit(X_train,y_train) 
  XGBRegressor.score(X_test, y_test) 
  print("Learning rate : ", lr, " Train score : ", XGBRegressor.score(X_train,y_train), " Cross-Val score : ", np.mean(cross_val_score(XGBRegressor, X_train, y_train, cv=10)))

Learning rate :  0.01  Train score :  -4.728972910658431  Cross-Val score :  -4.73344312982193
Learning rate :  0.02  Train score :  0.24735690840146507  Cross-Val score :  0.2467152714861657
Learning rate :  0.03  Train score :  0.9031490198804627  Cross-Val score :  0.9030572078278972
Learning rate :  0.04  Train score :  0.98779170200331  Cross-Val score :  0.9877728032504484
Learning rate :  0.05  Train score :  0.998487802276644  Cross-Val score :  0.9984847448810493
Learning rate :  0.06  Train score :  0.9998104363504393  Cross-Val score :  0.9998078969019442
Learning rate :  0.07  Train score :  0.9999696492340695  Cross-Val score :  0.9999679930206226
Learning rate :  0.08  Train score :  0.9999879579001638  Cross-Val score :  0.9999858836291162
Learning rate :  0.09  Train score :  0.99998877456061  Cross-Val score :  0.9999870914255109
Learning rate :  0.1  Train score :  0.9999880587055269  Cross-Val score :  0.9999859935240485
Learning rate :  0.11  Train score :  0.9999869629593168  Cross-Val score :  0.9999848523952721
Learning rate :  0.12  Train score :  0.9999857280422142  Cross-Val score :  0.9999839928369454
Learning rate :  0.13  Train score :  0.9999856739811587  Cross-Val score :  0.9999831879956194
Learning rate :  0.14  Train score :  0.999984774375646  Cross-Val score :  0.9999830507187235
Learning rate :  0.15  Train score :  0.9999852837109836  Cross-Val score :  0.9999827438656832
Learning rate :  0.2  Train score :  0.9999857565649963  Cross-Val score :  0.9999843765010246
Learning rate :  0.5  Train score :  0.9999969102996886  Cross-Val score :  0.999994982475797
Learning rate :  0.7  Train score :  0.9999975146570849  Cross-Val score :  0.9999954554291831
Learning rate :  1  Train score :  0.9999975395607028  Cross-Val score :  0.9999954548922776

In [34]:
XGBRegressor = xgb.XGBRegressor(learning_rate = 0.7, n_estimators=100)
XGBRegressor.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.7, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [35]:
from sklearn.metrics import  r2_score
y_pred = XGBRegressor.predict(X_test)
rsquared = r2_score(y_test,y_pred)
print("R2 Value: {}".format(rsquared))

R2 Value: 0.9999951507049711

In [36]:
from sklearn.metrics import  r2_score
print("R2 Value for Linear Regression: {}".format(r2_score(y_test,regressor.predict(X_test_scaled))))
print("R2 Value for KNN Regression: {}".format(r2_score(y_test,knn.predict(X_test_scaled))))
print("R2 Value for DecisionTreeRegressor: {}".format(r2_score(y_test,dt.predict(X_test))))
print("R2 Value for RandomForestRegressor: {}".format(r2_score(y_test,rf.predict(X_test_scaled))))
print("R2 Value for XGBooster: {}".format(r2_score(y_test,XGBRegressor.predict(X_test))))

R2 Value for Linear Regression: 0.9999945867835961
R2 Value for KNN Regression: 0.9999757320048155
R2 Value for DecisionTreeRegressor: 0.9999924633817353
R2 Value for RandomForestRegressor: 0.8676944397176263
R2 Value for XGBooster: 0.9999951507049711

In [37]:
import pickle
import pickle
pickle_out = open('model.pkl','wb')
pickle.dump(XGBRegressor,pickle_out)
pickle_out.close()

In [38]:
loaded_model = pickle.load(open('model.pkl', 'rb'))

In [39]:
result = loaded_model.score(X_test, y_test)
print(result)

0.9999951507049711

In [40]:
df.dtypes

Year               int64
Present_Price    float64
Kms_Driven         int64
Fuel_Type          int64
Seller_Type        int64
Transmission       int64
Owner              int64
Selling_Price    float64
dtype: object